<label for="playerCount">Nombre total de joueurs :</label>
<input type="number" id="playerCount" [(ngModel)]="playerCount" min="2" step="2">
<label for="date">Date du tournoi</label>
<input type="date">
<button (click)="createTournament()">Créer un tournoi</button>

<!-- Étape 2 : Inscription des équipes -->
<div *ngIf="tournamentCreated">
  <h3>Inscrivez-vous :</h3>

  <label for="myName">Votre nom :</label>
  <input type="text" id="myName" #myNameInput>

  <label for="friendName">Nom de votre pote :</label>
  <input type="text" id="friendName" #friendNameInput>

  <button (click)="registerMyTeam(myNameInput.value, friendNameInput.value)">S'inscrire</button>
</div>

<!-- Affichage des équipes inscrites -->
<div *ngIf="players.length > 0">
  <h3>Équipes inscrites :</h3>
  <ul>
    <li *ngFor="let team of players">
      {{ team.myName }} & {{ team.friendName }}
    </li>
  </ul>
</div>
